<%= form_for :question, :url => url_for(:controller => 'search', :action => 'search_to_frontend') do |f| %>
	<p>
	<%= f.label :searchstring %>
	<%= text_field_tag(:searchstring) %>

	<%= f.submit "Search StackOverflow!"%>
<% end %>
